[submodule "library/stb"]
	path = Software/library/stb
	url = https://github.com/nothings/stb
[submodule "library/cppsock"]
	path = Software/library/cppsock
	url = https://github.com/PrugClem/cppsock.git
